/* global selectors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    background-color: #ecf5ff;
    overflow: hidden;
}

h1 {
    margin: 4rem;
    font-weight: 900;
    text-align: center;
}


/* nav container */

nav {
    font-size: large;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin: 1.5rem;
    color: rgb(105, 37, 168);
}

nav p {
    margin: 1.5rem;
}

/* main section */

main {
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main p {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-bottom: 3rem;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: white;
}

li {
    background-color: purple;
    /* margin-top: 10px; */
    padding: 5px 15px;
    font-size: 2rem;
    width: 100%;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}

button {
    background-color: purple;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    font-size: 2rem;
    cursor: pointer;

}   

/* button:hover {} */

/* JS elements */

.questionTitle {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.listItem {
    margin-bottom: 1rem;
    list-style: none;
}

.inputContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
  
.endLabel {
    font-size: 2rem;
    margin-bottom: 1rem;
}
  
.endInput {
    font-size: 2rem;
    flex-grow: 1;
    margin-bottom: 1rem;
}

.endSubmit {
    font-size: 1.7rem;
    padding: 5px 10px;
    align-self: flex-start;
    margin-bottom: 1rem;
}

