/* global selectors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    background-color: #ecf5ff;
    overflow: hidden;
}

h1 {
    margin: 4rem;
    font-weight: 900;
    text-align: center;
}


/* nav container */

nav {
    font-size: large;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin: 1.5rem;
    color: rgb(105, 37, 168);
}

nav p {
    margin: 1.5rem;
}

/* main section */

main {
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main p {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-bottom: 3rem;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: white;
}

li {
    background-color: purple;
    /* margin-top: 10px; */
    padding: 5px 15px;
    font-size: 2rem;
    width: 100%;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
}

button {
    background-color: purple;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    font-size: 2rem;
    cursor: pointer;

}   

/* button:hover {

} */

/* Breakpoints */

/* Default styles for inputContainer */
.inputContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* Media query for screens smaller than 600 pixels */
  @media (max-width: 599px) {
    .inputContainer {
      flex-direction: column;
      align-items: flex-start;
    }

    #endLabel {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    #initials {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      flex-grow: 1;
    }

    #Submit {
      font-size: 1.2rem;
      padding: 3px 8px;
      align-self: flex-start;
    }
  }

  /* Media query for screens larger than or equal to 600 pixels */
  @media (min-width: 600px) {
    /* No additional styles for inputContainer on larger screens */
  }